
[submodule "themes/terminus"]
	path = themes/terminus
	url = https://github.com/ebkalderon/terminus.git
[submodule "themes/tapestry"]
	path = themes/tapestry
	url = https://github.com/anirbanbasu/tapestry.git
